<h2>List of Contacts</h2>

<% @list.each do |word| %>
    <h4>word: <a href="/word_specifics/<%= word.id%>"><%= word.word_name %></a></h4>
<% end %>

<h2>Add a Word</h2>
<form action="/" method="post">
  <div class="form-group">
    <label for="word_name">Word</label>
    <input id="word_name" name="word_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
<form action="/clear" method="post">
  <button type="submit" class="btn">Clear List</button>
</form>
<h2><%= @alert_message %></h2>
